.horarios{
    border-radius: 3%;
    font-size: 14px;
    background-color: rgb(89, 98, 104);
    color: rgb(220, 223, 92);
    text-align: center;
    width: 60%;
}

.horarios strong{
    color:rgb(202, 175, 24);
}


.endereco{
    font-size: 18px;
    color: white;
    text-align: center;
}

.contador{
    padding-right: 40px;
    color: white;
}

.btnassociados{
    padding-right: 60px !important;
}

.btnassociados a {
    height: 18px;
}

.yicons {
    padding-right: 20px !important;
}

.centro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-content p{
    margin: 0 0 0.5em;
}

.newsdata {
    color: red;
}

.newstexto {
    color: blue;
}

.newsautor {
    color: green;
}

.newsimage {
    width: auto;
    height: 60px;
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0
}

.jknoda {
    font-size: 10px !important;
    text-align: left !important;
    color: rgb(217, 236, 42);
}


.contato{
    text-align: center;
    padding: 1em;
}

.nome{
    display: inline-block;
}

.maps{
    width: 100%;
    height: 20em;
}

.contato label, input{
    display: block;
}

.divemail{
    text-align: left;
}

#nome, #email, #mensagem{
    width: 100%;
}

#mensagem{
    height: 5em;
}

.mailrow-2, .mailrow-1{
    padding-bottom: 1em;
}

.mailbutton{
    background: #276296;
    color: #FEE2C0;
    border-radius: 0.625em;
    padding: 1em 0 1em 0;
    width: 100%; 
    transition: 0.3s ease;
}

.mailbutton:hover{
    color: #e9b97f;
    background: #276296de;    
    cursor: pointer;
}